<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Game Deals</ion-title>
    <ion-title size="small">CRYSTAL CLEAR SAVINGS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (!favoriteDeal) {
    <p>You do not have any favorite game yet!</p>
  } @else { 
    <h1>💖 Your Favorite Game</h1>
    <app-card-component
    [deal]="favoriteDeal"
    [storeLogoUrl]="getStoreLogo(favoriteDeal.storeID)"
    (dealClicked)="onDetailDeal($event)"
    [isFavorite]="true"
    >
    </app-card-component>
  }
</ion-content>
